# 한국환경공단 대기오염정보

## 한국환경공단_측정소정보 

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000660

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('tmX') : '244148.546388', 
           quote_plus('tmY') : '412423.75772', 
           quote_plus('ver') : '1.0' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['addr'] = item.find('addr').text
  item_dict['tm'] = item.find('tm').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList?ServiceKey=yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D&tmX=244148.546388&tmY=412423.75772&ver=1.0

                                   addr stationName   tm
0  제주 서귀포시 대정읍 동일하모로149번길 21-8대정청소년 수련관         대정읍  0.0
1    부산 동구 충장대로 314자성대부두(관공선부두) 내 (좌천동)        부산북항  0.0
2                    제주 제주시 한경면 고산리3762         고산리  0.0

## 한국환경공단_대기오염정보

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000581

### 측정소별 실시간 측정정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
           quote_plus('stationName') : '종로구', quote_plus('dataTerm') : 'DAILY',
           quote_plus('ver') : '1.3' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm10Value24'] = item.find('pm10Value24').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?ServiceKey=yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D&numOfRows=10&pageNo=1&stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC&dataTerm=DAILY&ver=1.3

  coGrade          dataTime khaiGrade  ... pm25Value24 so2Grade so2Value
0       1  2020-08-17 18:00         2  ...          20        1    0.004
1       1  2020-08-17 17:00         2  ...          20        1    0.004
2       1  2020-08-17 16:00         2  ...          18        1    0.003
3       1  2020-08-17 15:00         2  ...          18        1    0.004
4       1  2020-08-17 14:00         2  ...          17        1    0.003
5       1  2020-08-17 13:00         2  ...          16        1    0.003
6       1  2020-08-17 12:00         2  ...          15        1    0.004
7       1  2020-08-17 11:00         1  ...          15        1    0.003
8       1  2020-08-17 10:00         1  ...          15        1    0.004
9       1  2020-08-17 09:00         2  ...          16        1    0.004

[10 rows x 19 columns]

### 시도별 실시간 측정정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
           quote_plus('sidoName') : '인천', quote_plus('ver') : '1.3' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm10Value24'] = item.find('pm10Value24').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty?ServiceKey=yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%9D%B8%EC%B2%9C&ver=1.3

  coGrade          dataTime khaiGrade  ... so2Grade so2Value stationName
0       1  2020-08-17 19:00         1  ...        1    0.003          신흥
1       1  2020-08-17 19:00         1  ...        1    0.002          서해
2       1  2020-08-17 19:00         1  ...        1    0.002          송림
3       1  2020-08-17 19:00         1  ...        1    0.003         구월동
4       1  2020-08-17 19:00         2  ...        1    0.003          숭의
5       1  2020-08-17 19:00         1  ...        1    0.003         석바위
6       1  2020-08-17 19:00      None  ...        1    0.005         부평역
7       1  2020-08-17 19:00         1  ...        1    0.002          남동
8       1  2020-08-17 19:00         2  ...        1    0.004          부평
9       1  2020-08-17 19:00         1  ...        1    0.002          연희

[10 rows x 20 columns]

### 시도별 실시간 평균정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst'
params = '?' + 'ServiceKey=' + skey + '&' + \
urlencode({quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
           quote_plus('itemCode') : 'PM10', quote_plus('dataGubun') : 'HOUR',
           quote_plus('searchCondition') : 'MONTH'})
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['itemCode'] = item.find('itemCode').text
  item_dict['dataGubun'] = item.find('dataGubun').text
  item_dict['seoul'] = item.find('seoul').text
  item_dict['busan'] = item.find('busan').text
  item_dict['daegu'] = item.find('daegu').text
  item_dict['incheon'] = item.find('incheon').text
  item_dict['gwangju'] = item.find('gwangju').text
  item_dict['daejeon'] = item.find('daejeon').text
  item_dict['ulsan'] = item.find('ulsan').text
  item_dict['gyeonggi'] = item.find('gyeonggi').text
  item_dict['gangwon'] = item.find('gangwon').text
  item_dict['chungbuk'] = item.find('chungbuk').text
  item_dict['chungbuk'] = item.find('chungbuk').text
  item_dict['jeonbuk'] = item.find('jeonbuk').text
  item_dict['jeonnam'] = item.find('jeonnam').text
  item_dict['gyeongbuk'] = item.find('gyeongbuk').text
  item_dict['gyeongnam'] = item.find('gyeongnam').text
  item_dict['jeju'] = item.find('jeju').text
  item_dict['sejong'] = item.find('sejong').text

  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst?ServiceKey=yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D&numOfRows=10&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH

  busan chungbuk daegu daejeon dataGubun  ... jeonbuk jeonnam sejong seoul ulsan
0    41       24    22      26      시간평균  ...      24      27     28    30    47
1    45       23    20      26      시간평균  ...      22      26     21    29    47
2    45       21    22      22      시간평균  ...      23      27     20    29    49
3    47       20    23      21      시간평균  ...      21      25     19    29    47
4    44       20    23      22      시간평균  ...      22      23     15    29    39
5    37       19    22      21      시간평균  ...      21      24     16    26    31
6    36       20    23      22      시간평균  ...      21      23     14    24    31
7    35       20    23      17      시간평균  ...      21      23     16    23    27
8    33       22    23      21      시간평균  ...      22      22     22    22    29
9    33       28    23      23      시간평균  ...      23      22     23    20    29

[10 rows x 19 columns]

### 대기질 예보통보 조회

In [ ]:
# 시군구별 실시간 평균정보  조희 url이 불러 올 수 없다고 계속 떠서 다른 것으로 대체해였습니다

from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMinuDustFrcstDspth'
urlencode({quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
           quote_plus('searchDate') : '	2017-04-19', quote_plus('InformCode') : 'PM10'})
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['informCode'] = item.find('informCode').text

  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMinuDustFrcstDspth?ServiceKey=yReNjPX7%2Bq7CA2adaeGtG5xjP2q%2BbrKiO9sbXQkr359AIVRxmeG38%2FdiqMdjJfC%2FvWz8zFnCxZ2IcBZLCHtmcw%3D%3D&numOfRows=10&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH

     dataTime informCode
0  2020-08-17       PM25
1  2020-08-17         O3
2  2020-08-17       PM10
3  2020-08-17       PM10
4  2020-08-17       PM25
5  2020-08-17       PM25
6  2020-08-17         O3
7  2020-08-17       PM10
8  2020-08-17       PM10
9  2020-08-17       PM25