# BeautyfulSoup 음악 순위 스크래핑

* 네이버 뮤직: https://music.naver.com/listen/top100.nhn

In [ ]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd


def get_music_ranks(url):
  search_url = urllib.request.urlopen(url).read()
  soup = BeautifulSoup(search_url, 'html.parser')

  soup_titles = soup.select('a._title span.ellipsis')
  titles = [title.get_text() for title in soup_titles]
  soup_artists = soup.select('td._artist.artist > a')
  artists = [artist.get_text().strip() for artist in soup_artists]

  return titles, artists


url_p1 = "http://music.naver.com/listen/top100.nhn?domain=TOTAL_V2&page=1"
titles_50, artists_50 = get_music_ranks(url_p1)

url_p2 = "http://music.naver.com/listen/top100.nhn?domain=TOTAL_V2&page=2"
titles_100, artists_100 = get_music_ranks(url_p2)

ranks = [rank for rank in range(1,101)]
rank_df = pd.DataFrame({"Rank": ranks,
                        "Title": titles_50 + artists_100,
                        "Artist": artists_50 + artists_100})
rank_df

    Rank              Title              Artist
0      1          다시 여기 바닷가  싹쓰리(유두래곤, 린다G, 비룡)
1      2          그 여름을 틀어줘  싹쓰리(유두래곤, 린다G, 비룡)
2      3        마리아 (Maria)          화사(Hwa Sa)
3      4  How You Like That           BLACKPINK
4      5  LINDA (Feat. 윤미래)                 린다G
..   ...                ...                 ...
95    96                전상근                 전상근
96    97                코요태                 코요태
97    98                 영탁                  영탁
98    99          Lady Gaga           Lady Gaga
99   100            아이유(IU)             아이유(IU)

[100 rows x 3 columns]